*.fasl
/dist
*.out
*.elc
*.lib
*.o
*.exe
*~
*.log
*.aux
*.dvi
*.idx
*.ego
*.glo
*.gst
*.ist
*.status
*.ilg
*.ind
*.out
*.toc
*.synctex.gz
*.diff
.\#*
\#*
*.cache
*.core
init
foo
.DS_Store
/autom4te
xbin/cafeobj.sbcl
xbin/cafeobj.acl
xbin/cafeobj
Makefile
manual/xml/manual.pdf
autom4te.cache
cafeobj/obsolete
lib/lib/obsolete
dev.cl
manual/md/reference-manual.blg
manual/md/reference-manual.bcf
manual/md/reference-manual.bbl
manual/md/reference-manual.run.xml
manual/md/reference-manual.tex