*.fasl
/dist
*.out
*.elc
*.lib
*.o
*.exe
*~
*.log
*.aux
*.status
*.ilg
*.ind
*.out
*.toc
.\#*
\#*
*.cache
*.core
Sphinx
*.txt
safe-bin
mksrc.sh
obj3
init
load-source.lisp
win
mac
pg
rwl-old.mod
exs-old
foo
chaos/term-parser/new
.DS_Store
/autom4te
xbin/cafeobj.sbcl
xbin/cafeobj
Makefile
proof
manual/xml/manual.pdf
autom4te.cache