*.fasl
/dist
*.out
*.elc
*.lib
*.o
*.exe
*~
*.log
*.aux
*.dvi
*.idx
*.ego
*.glo
*.gst
*.ist
*.status
*.ilg
*.ind
*.bbl
*.blg
*.out
*.toc
*.synctex.gz
*.diff
.\#*
\#*
*.cache
*.core
init
foo
.DS_Store
/autom4te
xbin/cafeobj.sbcl
xbin/cafeobj.acl
xbin/cafeobj
Makefile
manual/xml/manual.pdf
autom4te.cache
cafeobj/obsolete
lib/lib/obsolete
dev.cl
manual/md/reference-manual.blg
manual/md/reference-manual.bcf
manual/md/reference-manual.bbl
manual/md/reference-manual.run.xml
manual/md/reference-manual.tex
auto
build-stamp
doc/refman/reference-manual.bcf
doc/refman/reference-manual.odt
doc/refman/reference-manual.run.xml
doc/refman/reference-manual.tex
install-stamp
make-cafeobj.lisp
tswd
version.lisp
xbin/cafeobj.in
dumps
